
{% import 'bootstrap/wtf.html' as wtf %}
{% extends 'base.html'%}

{% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
{% endblock %}


{% block content%}
<body style="background-color: wheat;">

    <div class="container pt-5" >
      <div class="row pt-5" >
        <div class="col-md-4">
          <div class="card">
            <img src="{{url_for('static', filename='/image/honda-civic.png')}}"  width="250px" height="150px"> 
           <strong>
            <hr>Honda-civic<hr>
            <hr style="color:red;">ksh 2500per day<hr>
            <hr style="color:red;">Discount 10%<hr>
          </strong>
          <button type="button" class="btn btn-outline-primary"><a href="{{ url_for('main.new_booking') }}">Request</a></button>

          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="{{url_for('static', filename='/image/hyundai-accent.png')}}"  width="250px" height="150px"> 
            <strong>
            <hr>Hyundai-accent<hr>
            <hr style="color:red;">ksh 3000per day<hr>
            <hr style="color:red;">Discount 10%<hr>
          </strong>
            <button type="button" class="btn btn-outline-primary"><a href="{{ url_for('main.new_booking') }}">Request</a></button>
          </div>
        </div>
        <div class="col-md-4"> 
          <div class="card">
            <img src="{{url_for('static', filename='/image/kia-optima.png')}}"  width="250px" height="150px"> 
           <strong>
           
            <hr>kia-optima<hr>
            <hr style="color:red;">ksh 2500per day<hr>
            <hr style="color:red;">Discount 6%<hr>
          </strong>
            <button type="button" class="btn btn-outline-primary"><a href="{{ url_for('main.new_booking') }}">Request</a></button>
            </div>
            <br>
            <br>
        </div>
        </div>
        <div class="row" style="padding-bottom: 5%;">
          <div class="col-md-4">
            <div class="card">
              <img src="{{url_for('static', filename='/image/nissan-sunny.png')}}"  width="250px" height="150px"> 
              <strong></strong>
              <hr>Nissan sunny<hr>
            <hr style="color:red;">ksh 2000per day<hr>
            <hr style="color:red;">Discount 6%<hr>
          </strong>
            <button type="button" class="btn btn-outline-primary"><a href="{{ url_for('main.new_booking') }}">Request</a></button>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img src="{{url_for('static', filename='/image/nissan-sentra.png')}}"  width="250px" height="150px"> 
              <strong>
              <hr>Nissan sentra<hr>
             style="color:red;">ksh 2500per day<hr>
            <hr style="color:red;">Discount 8%<hr>
              </strong>

            <button type="button" class="btn btn-outline-primary"><a href="{{ url_for('main.new_booking') }}">Request</a></button>

            </div>
          </div>
          <div class="col-md-4"> 
            <div class="card">
              <img src="{{url_for('static', filename='/image/tucson.png')}}"  width="250px" height="150px"> 
             <strong>
              <hr>Nissian altima<hr>
            <hr style="color:red;">ksh 2500per day<hr>
            <hr style="color:red;">Discount 10%<hr>
          </strong>
            <button type="button" class="btn btn-outline-primary"><a href="{{ url_for('main.new_booking') }}">Request</a></button>
            </div>
          </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="card">
                <div class="card-body">
                <img src="{{url_for('static', filename='/image/honda-civic.png')}}"  width="250px" height="150px"> 
              </div>
              <div class="card-footer">

              <strong>
                <hr>Nissan sentra<hr>
                <hr style="color:red;">ksh 2300per day<hr>
                <hr style="color:red;">Discount 10%<hr>
              </strong>
                <button type="button" class="btn btn-outline-primary"><a href="{{ url_for('main.new_booking') }}">Request</a></button>
              </div>
      
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <img src="{{url_for('static', filename='/image/Toyota-Alphard.jpg')}}"  width="250px" height="150px"> 
                <strong>
                <hr>Toyota Alphard<hr>
                <hr style="color:red;">ksh 7000per day<hr>
                <hr style="color:red;">Discount 11%<hr>
              </strong>
                <button type="button" class="btn btn-outline-primary"><a href="{{ url_for('main.new_booking') }}">Request</a></button>
    
              </div>
            </div>
            <div class="col-md-4"> 
              <div class="card">
                <img src="{{url_for('static', filename='/image/toyota-coaster.png')}}"  width="250px" height="150px"> 
                <strong>
                <hr>Toyota coaster<hr>
                <hr style="color:red;">ksh 600per day<hr>
                <hr style="color:red;">Discount 15%<hr>
              </strong>
                <button type="button" class="btn btn-outline-primary"><a href="{{ url_for('main.new_booking') }}">Request</a></button>
    
              </div>
            </div>
            </div>
    </div>   
    
  </body>
  <br> <br>
  
  <!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5 bm-5" style="background-color: black;">

<div style="background-color:black;">
  <div class="container">

    <!-- Grid row-->
    <div class="row py-4 d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
        <h6 class="mb-0">Get connected with us on social networks!</h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-6 col-lg-7 text-center text-md-right">

        <!-- Facebook -->
        <a class="fb-ic">
          <i class="fab fa-facebook-f white-text mr-4"> </i>
        </a>
        <!-- Twitter -->
        <a class="tw-ic">
          <i class="fab fa-twitter white-text mr-4"> </i>
        </a>
        <!-- Google +-->
        <a class="gplus-ic">
          <i class="fab fa-google-plus-g white-text mr-4"> </i>
        </a>
        <!--Linkedin -->
        <a class="li-ic">
          <i class="fab fa-linkedin-in white-text mr-4"> </i>
        </a>
        <!--Instagram-->
        <a class="ins-ic">
          <i class="fab fa-instagram white-text"> </i>
        </a>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
</div>

<!-- Footer Links -->
<div class="container text-center text-md-left mt-5">

  <!-- Grid row -->
  <div class="row mt-3 dark-grey-text">

    <!-- Grid column -->
    <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

      <!-- Content -->
      <h6 class="text-uppercase font-weight-bold">Jambo rental cars</h6>
      <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
      
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

      <!-- Links -->
      <h6 class="text-uppercase font-weight-bold">Products</h6>
      <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
      <p>
        <a class="dark-grey-text" href="#!">vans</a>
      </p>
      <p>
        <a class="dark-grey-text" href="#!">Tracks</a>
      </p>
      <p>
        <a class="dark-grey-text" href="#!">Mercezed</a>
      </p>
      <p>
        <a class="dark-grey-text" href="#!">limousine</a>
      </p>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

      <!-- Links -->
      <h6 class="text-uppercase font-weight-bold">Useful links</h6>
      <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
      <p>
        <a class="dark-grey-text" href="#!">Your Account</a>
      </p>
      <p>
        <a class="dark-grey-text" href="#!">Become an Affiliate</a>
      </p>
      <p>
        <a class="dark-grey-text" href="#!">Shipping Rates</a>
      </p>
      <p>
        <a class="dark-grey-text" href="#!">Help</a>
      </p>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

      <!-- Links -->
      <h6 class="text-uppercase font-weight-bold">Contact</h6>
      <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
      <p>
        <i class="fas fa-home mr-3"></i> Nairobi,parkland </p>
      <p>
        <i class="fas fa-envelope mr-3"></i> jamborentalcars@gmail.com</p>
      <p>
        <i class="fas fa-phone mr-3"></i>  07 234 567 88</p>
      <p>
        <i class="fas fa-print mr-3"></i>  07 234 567 89</p>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
<!-- Footer Links -->

<!-- Copyright -->
<div class="footer-copyright text-center text-black-50 py-3">© 2020 Copyright:
  <a class="dark-grey-text" href="https://mdbootstrap.com/"> jambocarrent.com</a>
</div>
<!-- Copyright -->

</footer>
<!-- Footer -->
  </div>
{% endblock %}