<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="view landing">
      <div id="overlay">
          <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
            <a class="navbar-brand" href="#">Jambo rental cars</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse align-items-center" id="collapsibleNavbar">
              <ul class="navbar-nav">
                  <li class="nav-item">
                      <a class="nav-link" href="#overlay">Home</a>
                    </li>
                <li class="nav-item">
                  <a class="nav-link" href="#make-order">Rent</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#contact">Contact Us</a>
                </li>    
              </ul>
            </div>  
          </nav>
          <div class="mask rgba-black-light align-items-center">
            <div class="container" id="head">
              <div class="row">
                <div class="col-md-12 mb-4 white-text text-center text">
                  <h1 class="h1-reponsive white-text text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 pulse"><strong>Car rental services</strong></h1>
                  <a class="btn btn-red button floater" href="#make-order"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="arrow bounce"> <a href="#variety"> <img src="" width="40px"></a></div>
      </div>
    </div>
  </header>

  <!-- slogan section -->
  <div class="container carousel slide" data-ride="carousel"  id="slogan">
    <div class="row">
      <div class="col-md-12  black-text text-center text">
          <h2>EXCLUSIVE QUALITY CARS ONLY FOR YOU</h2>
        <p>
        We provide quality and highly maintainable cars for our clients ,We also take the feedbacks of clients and improve on our services
        </p>
      </div>
    </div>
  </div>

  </body>
</html>